.footer {
  background-color: #2F3490;
  color: #fff;
  padding-bottom: 3.5rem;

  &-text {
    font-weight: $weight-extra;
    font-size: 2.5rem;
    line-height: 1.2;

    @include mobile {
      font-size: 2rem;
    }

    &-link {
      display: block;
      color: #F6A2B1;
      margin-bottom: 5.5rem;
    }
  }

  .nav-middle {

    @include mobile {
      order: 2;
      width: 100%;

      > .nav-link {
        display: block;
        color: #fff;
        margin-left: 0;

        + .nav-link {
          margin-top: .5rem;
        }
      }
    }
  }
}
