$text-color: #777893;

.header {
  .nav {
    padding-top: 2rem;
    fill: #777893;
  }

  .nav-social {
    @media (max-width: $mobile) {
      width: 100%;
      margin-left: 0;
      padding-top: 0;
    }
  }
}

.home {
  &-container {
    text-align: center;
    width: 100%;
    max-width: 45rem;
    margin-bottom: 6.5rem;

    @include mobile {
      margin-bottom: 1.4rem;
    }
  }

  &-btn {
    color: $text-color;
    border-radius: 2rem;
    border: 0;
    padding: .2rem 2rem;
    box-shadow: 0 10px 30px 5px rgba(#000, .05);
    margin-top: 0.2rem;
    margin-bottom: .8rem;

    > svg {
      margin-left: 1rem;

      > path {
        fill: $text-color;
      }
    }

    @include mobile {
      font-size: .75rem;
    }
  }

  &-title {
    font-weight: $weight-extra;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;

    @include mobile {
      font-size: 3rem;
      margin-bottom: .4rem;
    }
  }

  &-text {
    font-size: 2rem;
    line-height: 1.1;
    color: $text-color;
    margin-bottom: 1rem;

    @include mobile {
      font-size: 1rem;
      margin-bottom: 2rem;
      line-height: 1.3rem;
    }
  }

  &-start {
    font-size: 1.5rem;
    font-weight: $weight-bold;
    height: 100%;
    padding: .5em 2em;
    color: #fff;
    border-radius: 2rem;
    border: 0;
    background-image: radial-gradient(50% 200%, #9B6FF6 0%, #623CEA 100%);
    box-shadow: 0 25px 40px 0 rgba(101, 63, 229, .2), inset 0 1px 4px 0 rgba(#fff, .3);
    transition: transform ease-in-out .2s;

    &:hover,
    &:focus {
      color: #fff;
      transform: translateY(-1px);
    }

    @include mobile {
      font-size: 1rem;
    }
  }
}
