.nav {
  margin-top: 2.5rem;

  @include touch {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  &-link {
    font-size: 1.125rem;
    font-weight: $weight-bold;
    color: #121336;

    @media (max-width: $mobile) {
      font-size: .85rem;
    }
  }

  &-middle > .nav-link {

    + .nav-link {
      margin-left: 1rem;
    }

    @include mobile {
      font-size: .85rem;
      color: #777893;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > .nav-link + .nav-link {
      margin-left: 1.25rem;
    }

    .nav-link > svg {
      display: block;
    }
  }
}
