.navbar {
  margin-top: 1.7rem;

  &-item {
    font-size: 1.125rem;
    font-weight: $weight-bold;
    color: #121336;

    @include mobile {
      font-size: .75rem;
    }
  }
}

// Force showing navbar on mobile

@include touch {
  .navbar-item {
    display: flex;
  }

  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
  }

  .navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
    box-shadow: none;
  }
  .navbar-start{
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end{
    justify-content: flex-end;
    margin-left: auto;
  }
}
