.section {

  &-title {
    font-weight: $weight-extra;
    font-size: 2.625rem;
    line-height: 1.2;
    margin-bottom: .5rem;

    @include mobile {
      font-size: 2rem;
    }
  }

  &-text {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;

    @include mobile {
      font-size: 1rem;
    }
  }

  &-link {
    font-weight: $weight-bold;
    font-size: 1.125rem;

    &::before {
      content: "\203A";
      margin-right: .6rem;
    }

    &::after {
      content: "\2039";
      margin-left: .6rem;
    }
  }
}

.card {
  box-shadow: none;

  &-content {
    padding-left: 0;
    padding-right: 0;
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  &-title {
    font-weight: $weight-extra;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &-text {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 6.125rem;
  }
}

.engage {
  background-color: #AAE0F8;
  background-image: url("../images/clouds.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto 36px;
  margin-bottom: 12.5rem;

  @include mobile {
    background-image: none;
    padding-top: 17vw;
  }

  @include tablet {
    padding: 8rem 1.5rem;
  }

  .columns {
    align-items: center;

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .card-text {
    margin-bottom: 0;
  }

  &-text {

    @include mobile {
      order: 2;
      background-color: $white;
      padding: 3rem 1.5rem;
      width: 100%;
    }

  //   @include tablet {
  //     padding-left: 5rem;
  //   }
  }

  &-img {

    @include mobile {
      order: 1;
      background-image: url("../images/clouds.svg");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: auto 36px;
      padding: 0 1.5rem 6vw;
    }

    > p {
      margin-top: .625rem;
      margin-bottom: 0;
    }
  }
}
