.section {

  &-title {
    font-weight: $weight-extra;
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: .5rem;
  }

  &-text {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
  }

  &-link {
    font-weight: $weight-bold;
    font-size: 1.125rem;

    &::before {
      content: "\203A";
      margin-right: .6rem;
    }

    &::after {
      content: "\2039";
      margin-left: .6rem;
    }
  }
}

.card {
  box-shadow: none;

  &-content {
    padding-left: 0;
    padding-right: 0;
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  &-title {
    font-weight: $weight-extra;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &-text {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 6.125rem;
  }
}
