.under {
  background-color: #2F3490;
  color: #fff;
  position: relative;
  z-index: $z-index-under;
  padding-top: 32.5rem;
  margin-top: -20rem;

  .container {
    border-bottom: 1px solid #24276B;
  }

  .is-vertical-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-header {
    color: #7075C8;
    font-weight: $weight-bold;
  }

  &-button {
    background-color: #282C78;
    font-weight: $weight-bold;
    font-size: 1rem;
    padding: 1.5em 2em;
    border-radius: .5em;
    width: 100%;
    height: 100%;

    &.is-active {
      border: solid 1px #18ACFA;
      color: #fff;
      box-shadow: 0 20px 40px 0 rgba(27, 29, 74, .6);
    }

    &.is-inactive {
      border: 0;
      color: #7075C8;
    }
  }
}
