// Fonts
@import "./fonts";

// Global variables
$family-sans-serif: "Gill Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$text: #16183D;
$link: #623CEA;

// bulma
@import '~bulma';

// Global declarations
svg {
  width: 16px;
  height: 16px;
}

// Font weight
$weight-extra: 800;

// Z-index
$z-index-build: 1;
$z-index-under: 0;

// Components
@import "./navbar";
@import "./home";
@import "./sections";
@import "./build";
@import "./under";
@import "./footer";
