// Fonts
@import "./fonts";

// Global variables
$family-sans-serif: "Gill Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$text: #16183D;
$link: #623CEA;

$speed: .25s;

// bulma
@import '~bulma';

$mobile: 480px;

$text-color: #777893;

// Global declarations
.svg, #svg-github, #svg-twitter, #svg-medium {
  width: 16px;
  height: 16px;
  display: block;

  path {
    fill: inherit;
    transition: all $speed;
  }
}

// Font weight
$weight-extra: 800;

// Z-index
$z-index-build: 1;
$z-index-under: 0;

// Utilities
@import "./utilities";

// Components
@import "./navbar";
@import "./home";
@import "./sections";
@import "./build";
@import "./under";
@import "./footer";
