<section class="browse section">
  <div class="container">
    <header class="browse-header columns">
      <div class="column is-4 is-offset-6">
        <h2 class="section-title">Browse and see<br>economy behind<br>messages.</h2>
        <p class="section-text">Wondering why you see what you see? We got answers.</p>
        <a href="#" class="link section-link">Start browsing</a>
      </div>
    </header>
    <div class="columns">
      <div class="column is-5">
        <div class="card">
          <div class="card-image pr-0" style="background-color: #F79F79;">
            <img srcset="images/information-relevant.png 1x,
                         images/information-relevant@2x.png 2x"
                 src="images/information-relevant.png"
                 alt="Information Relevant"
                 width="515"
                 height="272">
          </div>
          <div class="card-content">
            <h2 class="card-title">Information<br>relevant for you</h2>
            <p class="card-text">Talk with people with the same economic incentives. Find your token friends.</p>
          </div>
        </div>
      </div>
      <div class="column is-4 is-offset-1">
        <div class="card">
          <div class="card-image pb-0" style="background-color: #FFCFE9;">
            <img srcset="images/explore-possibilities.png 1x,
                         images/explore-possibilities@2x.png 2x"
                 src="images/explore-possibilities.png"
                 alt="Explore Possibilities"
                 width="406"
                 height="325">
          </div>
          <div class="card-content">
            <h2 class="card-title">Explore<br>possibilities</h2>
            <p class="card-text">Find out what you can do with your token, get to know trendiest dapps and start using your holdings.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="card">
          <div class="card-image" style="background-color: #F7C760;">
            <img srcset="images/your-dashboard.png 1x,
                         images/your-dashboard@2x.png 2x"
                 src="images/your-dashboard.png"
                 alt="Your Dashboard"
                 width="340"
                 height="342">
          </div>
          <div class="card-content">
            <h2 class="card-title">Your<br>dashboard</h2>
            <p class="card-text">Find out what’s new from the perspective of economic connections.</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="card">
          <div class="card-image" style="background-color: #67E287;">
            <img srcset="images/valuable-insight.png 1x,
                         images/valuable-insight@2x.png 2x"
                 src="images/valuable-insight.png"
                 alt="Valuable Insight"
                 width="524"
                 height="414">
          </div>
          <div class="card-content">
            <h2 class="card-title">Get valuable<br>insight</h2>
            <p class="card-text">Start looking at things from the perspective of the incentives, not the outcomes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-color: #DFFDE6;">
        <img srcset="images/cryptokitty.png 1x,
                     images/cryptokitty@2x.png 2x"
             src="images/cryptokitty.png"
             alt="Cryptokitty"
             width="191"
             height="153">
      </div>
      <div class="columns">
        <div class="column is-4">
          <div class="card-content">
            <h2 class="card-title">Know the origins and motivations<br>behind each message</h2>
            <p class="card-text">Every message is cryptographically signed. You know that you’re talking with this address and you know its economic connections.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg id="svg-freeform-1" class="browse-freeform" viewBox="0 0 1174 1006" xmlns="http://www.w3.org/2000/svg"><path d="m1064 128.56c141.11 168.88 157.18 401.28-15 550.21-150 129.75-357.42 346.08-576 325.69-118.5-11.05-233.79-81.11-329.56-147.62-73.83-51.28-141.71-121.13-143.44-216.84-4.28-245.13 336.34-363.68 499.73-478.64 80.14-56.36 149.27-131.69 248.05-154.28 121.07-27.68 238.51 28.5 316.22 121.48z" fill="#ffefe8"/></svg>
</section>
