<section class="browse section">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-6">
        <h2 class="section-title">Browse and see economy behind messages.</h2>
        <p class="section-text">Wondering why you see what you see? We got answers.</p>
        <a href="#" class="link">Start browsing</a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="card">
          <div class="card-image">
            <img src="images/browse-1.png" alt="card image" width="515" height="272">
          </div>
          <div class="card-content">
            <h2 class="title">Information relevant for you</h2>
            <p class="text">Talk with people with the same economic incentives. Find your token friends.</p>
          </div>
        </div>
      </div>
      <div class="column is-4 is-offset-1">
        <div class="card">
          <div class="card-image">
            <img src="images/browse-2.png" alt="card image" width="406" height="325">
          </div>
          <div class="card-content">
            <h2 class="title">Explore possibilities</h2>
            <p class="text">Find out what you can do with your token, get to know trendiest dapps and start using your holdings.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="card">
          <div class="card-image">
            <img src="images/browse-3.png" alt="card image" width="406" height="393">
          </div>
          <div class="card-content">
            <h2 class="title">Your dashboard</h2>
            <p class="text">Find out what’s new from the perspective of economic connections.</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="card">
          <div class="card-image">
            <img src="images/browse-4.png" alt="card image" width="624" height="517">
          </div>
          <div class="card-content">
            <h2 class="title">Get valuable insight</h2>
            <p class="text">Start looking at things from the perspective of the incentives, not the outcomes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="images/browse-5.png" alt="card image" width="1279" height="400">
      </div>
      <div class="columns">
        <div class="card-content column is-4">
          <h2 class="title">Know the origins and motivations behind each message</h2>
          <p class="text">Every message is cryptographically signed. You know that you’re talking with this address and you know its economic connections.</p>
        </div>
      </div>
    </div>
  </div>
</section>
