<section class="build">
  <div class="container">
    <div class="columns">
      <div class="column is-3 is-offset-2">
        <h2 class="section-title">Build on top</h2>
        <p class="section-text">We are open sourced. Let’s build together!</p>
        <a href="#" class="link">See examples</a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <ul>
          <li>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-16x16">
                      <img src="images/rank.svg" alt="media image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-6">Rank it your way</p>
                    <p class="subtitle is-6">Define custom algorithm or use one of our own.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-16x16">
                      <img src="images/butterfly.svg" alt="media image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-6">Butterfly Economy</p>
                    <p class="subtitle is-6">One reaction on any interface can affect ranking everywhere else.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-16x16">
                      <img src="images/wallet.svg" alt="media image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-6">Monetize your interface</p>
                    <p class="subtitle is-6">Fork us, provide better experience and easily monetize your efforts.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-16x16">
                      <img src="images/nft.svg" alt="media image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-6">Missing NFT?</p>
                    <p class="subtitle is-6">Add it yourself. Be a hero for your community!</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-16x16">
                      <img src="images/multiple.svg" alt="media image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-6">Multiple Storage Systems</p>
                    <p class="subtitle is-6">Use blockchain or your centralized server. IPFS in works.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-16x16">
                      <img src="images/cross.svg" alt="media image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-6">Cross-chain</p>
                    <p class="subtitle is-6">Ethereum Mainnet, Testnets and Bitcoin.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-16x16">
                      <img src="images/add.svg" alt="media image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-6">Add new pages</p>
                    <p class="subtitle is-6">Favorite token? Interesting insight? Add new functionality!</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
