<section class="build">
  <div class="container">
    <div class="build-header">
      <h2 class="section-title">Build on top</h2>
      <p class="section-text">We are open sourced. Let’s build together!</p>
      <a href="#" class="link section-link">See examples</a>
    </div>

    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <img src="images/rank.svg" width="16" height="14" alt="funnel image">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="build-subtitle">Rank it your way</h4>
            <p class="build-subtext">Define custom algorithm or use one of our own.</p>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <img src="images/butterfly.svg" width="16" height="16" alt="image of butterfly">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="build-subtitle">Butterfly Economy</h4>
            <p class="build-subtext">One reaction on any interface can affect ranking everywhere else.</p>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <img src="images/wallet.svg" alt="media image">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="build-subtitle">Monetize your interface</h4>
            <p class="build-subtext">Fork us, provide better experience and easily monetize your efforts.</p>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <img src="images/nft.svg" alt="media image">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="build-subtitle">Missing NFT?</h4>
            <p class="build-subtext">Add it yourself. Be a hero for your community!</p>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <img src="images/multiple.svg" alt="media image">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="build-subtitle">Multiple Storage Systems</h4>
            <p class="build-subtext">Use blockchain or your centralized server. IPFS in works.</p>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <img src="images/cross.svg" alt="media image">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="build-subtitle">Cross-chain</h4>
            <p class="build-subtext">Ethereum Mainnet, Testnets and Bitcoin.</p>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <img src="images/add.svg" alt="media image">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="build-subtitle">Add new pages</h4>
            <p class="build-subtext">Favorite token? Interesting insight? Add new functionality!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
