<footer class="footer">
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <p class="footer-text">
            Interested in more?
            <a href="#" class="footer-text-link">Check our blog</a>
          </p>
          </div>
        <div class="column is-5">
          <p class="footer-text">
            Want to build?
            <a href="#" class="footer-text-link">Check the examples</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <nav class="section nav">
    <div class="container">
      <div class="columns is-mobile is-multiline">
        <div class="column">
          <a href="/" class="nav-link">ProjectName</a>
        </div>
        <div class="column is-narrow nav-middle">
          <a href="#" class="nav-link">Why?</a>
          <a href="#" class="nav-link">Check&nbsp;demo</a>
          <a href="#" class="nav-link">Join&nbsp;our&nbsp;Telegram</a>
        </div>
        <div class="column is-narrow has-text-right nav-social">
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="#svg-github" />
            </svg>
          </a>
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="#svg-twitter" />
            </svg>
          </a>
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="#svg-medium" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </nav>
</footer>
