<div class="home">
  <div class="hero is-medium">
    <div class="hero-body">
      <div class="container home-container">
        <button type="button" class="button home-btn">Looking for investors
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 13" class="svg"><path d="M9.3,0,7.9,1.358,12.2,5.53H0V7.47H12.2L7.9,11.642,9.3,13,16,6.5Z"/></svg>
        </button>
        <h2 class="home-title">Explore the tokens.<br>Talk. Earn.</h2>
        <p class="home-text">Blockchain made social. Explore, interact, grow your influence and earn tokens.</p>
        <button type="button" class="button home-start">Start the journey</button>
      </div>
    </div>
  </div>
</div>
