<section class="section interact">
  <div class="container">
    <img srcset="images/interact.png 1x,
                 images/interact@2x.png 2x"
         src="images/interact.png"
         alt="Interact"
         width="216"
         height="195"
         class="interact-image">
    <header class="section-header columns">
      <div class="column is-4 is-offset-6">
        <h2 class="section-title">Interact<br>with the space</h2>
        <p class="section-text">Start posting things relevant for your community. Gain influence.</p>
        <a href="#" class="link section-link">Start interacting</a>
      </div>
    </header>
    <div class="columns">
      <div class="column is-3 is-offset-1">
        <div class="card">
          <div class="card-image" style="background-color: #266DD3">
            <img srcset="images/post-memes.png 1x,
                         images/post-memes@2x.png 2x"
                 src="images/post-memes.png"
                 alt="Post Memes"
                 width="257"
                 height="440">
          </div>
          <div class="card-content">
            <h2 class="card-title">Post your<br>memes</h2>
            <p class="card-text">Post messages, images, videos and links to relevant topics in your community.</p>
          </div>
        </div>
      </div>
      <div class="column is-4 is-offset-2">
        <div class="card">
          <div class="card-image" style="background-color: #A7BED3">
            <img srcset="images/comment-react.png 1x,
                         images/comment-react@2x.png 2x"
                 src="images/comment-react.png"
                 alt="Comment React"
                 width="257"
                 height="440">
          </div>
          <div class="card-content">
            <h2 class="card-title">Comment<br>and react</h2>
            <p class="card-text">Respond to messages of other crypto-characters. Like, vote, react.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="card">
          <div class="card-image" style="background-color: #AEA1AA">
            <img srcset="images/transactions.png 1x,
                         images/transactions@2x.png 2x"
                 src="images/transactions.png"
                 alt="Transactions"
                 width="312"
                 height="161">
          </div>
          <div class="card-content">
            <h2 class="card-title">Talk about<br>transactions</h2>
            <p class="card-text">Did you find something threatening for communinty? Do you want to accent particular transaction?</p>
          </div>
        </div>
      </div>
      <div class="column is-4 is-offset-2">
        <div class="card">
          <div class="card-image" style="background-color: #9F9FED">
            <img srcset="images/distribute-events.png 1x,
                         images/distribute-events@2x.png 2x"
                 src="images/distribute-events.png"
                 alt="Distribute Events"
                 width="250"
                 height="174">
          </div>
          <div class="card-content">
            <h2 class="card-title">Distribute<br>the events</h2>
            <p class="card-text">Are you on sale? In the middle of siring? Let the community hear the happy news!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6 is-offset-6">
        <div class="card">
          <div class="card-image" style="background-color: #FFAFD8">
            <img srcset="images/crypto-news.png 1x,
                         images/crypto-news@2x.png 2x"
                 src="images/crypto-news.png"
                 alt="Crypto News"
                 width="474"
                 height="269">
          </div>
          <div class="card-content">
            <h2 class="card-title">Share the<br>crypto news</h2>
            <p class="card-text">Found super cool insight? Share!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="engage">
    <div class="container">
      <div class="columns">
        <div class="column is-6 engage-text">
          <h2 class="card-title">Engage with<br>your audience</h2>
          <p class="card-text">Easily address token holders of particular community.</p>
        </div>
        <div class="column is-6 engage-img">
          <img srcset="images/omisego-assembly.png 1x,
                       images/omisego-assembly@2x.png 2x"
               src="images/omisego-assembly.png"
               alt="Omisego Assembly"
               width="624"
               height="254">
          <p class="has-text-centered">OmiseGo assembly</p>
        </div>
    </div>
  </div>

  <svg class="interact-freeform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1174.024 1005.804"><defs><style>.i{fill:#fff3f4;}</style></defs><path class="i" d="M-1064.04,128.56c-141.11,168.88-157.18,401.28,15,550.21,150,129.75,357.42,346.08,576,325.69,118.5-11.05,233.79-81.11,329.56-147.62C-69.65,805.56-1.77,735.71-.04,640,4.24,394.87-336.38,276.32-499.77,161.36-579.91,105-649.04,29.67-747.82,7.08-868.89-20.6-986.33,35.58-1064.04,128.56Z" transform="translate(1174.024)"/></svg>
</section>
