<section class="interact">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-6">
        <h2 class="section-title">Interact with the space</h2>
        <p class="section-text">Start posting things relevant for your community. Gain influence.</p>
        <a href="#" class="link section-link">Start interacting</a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-1">
        <div class="card">
          <div class="card-image">
            <img src="images/interact-1.png" alt="card image" width="297" height="500">
          </div>
          <div class="card-content">
            <h2 class="card-title">Post your memes</h2>
            <p class="card-text">Post messages, images, videos and links to relevant topics in your community.</p>
          </div>
        </div>
      </div>
      <div class="column is-4 is-offset-2">
        <div class="card">
          <div class="card-image">
            <img src="images/interact-2.png" alt="card image" width="406" height="351">
          </div>
          <div class="card-content">
            <h2 class="card-title">Comment and react</h2>
            <p class="card-text">Respond to messages of other crypto-characters. Like, vote, react.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="card">
          <div class="card-image">
            <img src="images/interact-3.png" alt="card image" width="407" height="272">
          </div>
          <div class="card-content">
            <h2 class="card-title">Talk about transactions</h2>
            <p class="card-text">Did you find something threatening for communinty? Do you want to accent particular transaction?</p>
          </div>
        </div>
      </div>
      <div class="column is-4 is-offset-2">
        <div class="card">
          <div class="card-image">
            <img src="images/interact-4.png" alt="card image" width="405" height="274">
          </div>
          <div class="card-content">
            <h2 class="card-title">Distribute the events</h2>
            <p class="card-text">Are you on sale? In the middle of siring? Let the community hear the happy news!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6 is-offset-6">
        <div class="card">
          <div class="card-image">
            <img src="images/interact-5.png" alt="card image" width="626" height="370">
          </div>
          <div class="card-content">
            <h2 class="card-title">Share the crypto news</h2>
            <p class="card-text">Found super cool insight? Share!</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="images/interact-6.png" alt="card image" width="1592" height="529">
        </div>
        <div class="card-content">
          <h2 class="card-title">Engage with your audience</h2>
          <p class="card-text">Easily address token holders of particular community.</p>
        </div>
      </div>
    </div>
  </div>
</section>
