<section class="section monetize">
  <div class="container">
    <header class="section-header columns">
      <div class="column is-4 is-offset-6">
        <h2 class="section-title">Monetize your<br>influence</h2>
        <p class="section-text">Earn tokens with your insights rather than transactions.</p>
        <a href="#" class="link section-link">Start earning tokens</a>
      </div>
    </header>
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image px-7" style="background-color: #B2DBBF">
            <img srcset="images/grow-value.png 1x,
            images/grow-value@2x.png 2x"
            src="images/grow-value.png"
            alt="Grow Value"
            width="292"
            height="292">
          </div>
          <div class="card-content">
            <h2 class="card-title">Grow value<br>of the avatar</h2>
            <p class="card-text">More followers you have, more valuable you are.</p>
          </div>
        </div>
      </div>
      <div class="column is-7 is-offset-1">
        <div class="card">
          <div class="card-image" style="background-color: #CDF4FF">
            <img srcset="images/lgbt-community.png 1x,
            images/lgbt-community@2x.png 2x"
            src="images/lgbt-community.png"
            alt="LGBT Community"
            width="207"
            height="171">
          </div>
          <div class="card-content">
            <h2 class="card-title">Issue tokens<br>for fans</h2>
            <p class="card-text">Levarge your popularity and issue your own ERC20 with a click! </p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-6">
        <div class="card">
          <div class="card-image" style="background-color: #46237A">
            <img srcset="images/accept-payments.png 1x,
            images/accept-payments@2x.png 2x"
            src="images/accept-payments.png"
            alt="Accept Payments"
            width="350"
            height="257">
          </div>
          <div class="card-content">
            <h2 class="card-title">Accept payments<br>for advertisement</h2>
            <p class="card-text">Let others advertise at your profile! Accept Ethereum or any ERC20.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg class="monetize-freeform" viewBox="0 0 787 986" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" transform="translate(-235 -6872)"><path d="m0 0h1579v11105h-1579z" fill="#fff"/><path d="m221.05 1.52c125.66-4.52 272.81 20.24 392.16 58.42s269.91 106.86 353.92 202.63c58 66.07 105.34 174.4 40.25 251.89-72.38 86.19-218.23 131.64-319.98 168.44-229.07 82.85-476.29 82-610.67-155.12-100.21-176.78-146.1-516.66 144.32-526.26z" fill="#fffceb" fill-rule="nonzero" transform="matrix(-.2419219 .97029573 -.97029573 -.2419219 1069.583616 6947.32875)"/></g></svg>
  <img srcset="images/your-space.png 1x,
               images/your-space@2x.png 2x"
       src="images/your-space.png"
       alt="Your Ad Space"
       width="292"
       height="292"
       class="monetize-image">
</section>
