<section class="monetize">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-6">
        <h2 class="section-title">Monetize your influence</h2>
        <p class="section-text">Earn tokens with your insights rather than transactions.</p>
        <a href="#" class="link">Start earning tokens</a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="images/monetize-1.png" alt="card image" width="404" height="500">
          </div>
          <div class="card-content">
            <h2 class="title">Grow value of the avatar</h2>
            <p class="text">More followers you have, more valuable you are.</p>
          </div>
        </div>
      </div>
      <div class="column is-7 is-offset-1">
        <div class="card">
          <div class="card-image">
            <img src="images/monetize-2.png" alt="card image" width="736" height="354">
          </div>
          <div class="card-content">
            <h2 class="title">Issue tokens for fans</h2>
            <p class="text">Levarge your popularity and issue your own ERC20 with a click! </p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-6">
        <div class="card">
          <div class="card-image">
            <img src="images/monetize-3.png" alt="card image" width="517" height="439">
          </div>
          <div class="card-content">
            <h2 class="title">Accept payments for advertisement</h2>
            <p class="text">Let others advertise at your profile! Accept Ethereum or any ERC20.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
