<nav class="section nav">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column">
        <h1>
          <a href="/" class="nav-link">ProjectName</a>
        </h1>
      </div>
      <div class="column is-narrow nav-middle">
        <a href="#" class="nav-link">Join our Telegram</a>
      </div>
      <div class="column is-narrow has-text-right nav-social">
        <a href="#" class="nav-link">
          <svg class="svg">
            <use xlink:href="#svg-github" />
          </svg>
        </a>
        <a href="#" class="nav-link">
          <svg class="svg">
            <use xlink:href="#svg-twitter" />
          </svg>
        </a>
        <a href="#" class="nav-link">
          <svg class="svg">
            <use xlink:href="#svg-medium" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
