<section class="section protect">
  <div class="container">
    <header class="section-header columns">
      <img srcset="images/protect.png 1x,
                   images/protect@2x.png 2x"
           src="images/protect.png"
           alt="Protect"
           width="179"
           height="146"
           class="protect-image">
      <div class="column is-6">
        <h2 class="section-title">Protect<br>your attention</h2>
        <p class="section-text">Make informed decisions in a crypto economy.</p>
        <a href="#" class="link section-link">Protect yourself</a>
      </div>
    </header>
    <div class="columns">
      <div class="column is-5">
        <div class="card">
          <div class="card-image" style="background-color: #E4BE9E;">
            <img srcset="images/economica-filters.png 1x,
                         images/economica-filters@2x.png 2x"
                 src="images/economica-filters.png"
                 alt="Economica Filters"
                 width="414"
                 height="164">
          </div>
          <div class="card-content">
            <h2 class="card-title">Economic filters</h2>
            <p class="card-text">Protect your attention using economic filters. Show posts coming only from participants of your community.</p>
          </div>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="card">
          <div class="card-image" style="background-color: #A9EAFF;">
            <img srcset="images/verifiable-messages.png 1x,
                         images/verifiable-messages@2x.png 2x"
                 src="images/verifiable-messages.png"
                 alt="Verifiable Messages"
                 width="445"
                 height="426">
          </div>
          <div class="card-content">
            <h2 class="card-title">Verifiable<br>messages</h2>
            <p class="card-text">The recipient of a message can be sure that a crypto-character is indeed owned by the sender of a message.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
