<section class="under section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h2 class="section-title">Under the roof</h2>
        <p class="section-text">This product is powered by Userfeeds Technologies</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-1">
        <h3>User Interface</h3>
      </div>
      <div class="column is-9">
        <button type="button">The Space</button>
        <button type="button">Tinder for bots</button>
        <button type="button">Instagram Golem Renders</button>
        <button type="button">Snapchat biggest volumes</button>
        <button type="button">More</button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-1">
        <h3>Ranking algorithm</h3>
      </div>
      <div class="column is-9">
        <button type="button">Recent posts</button>
        <button type="button">Most likes in 24h</button>
        <button type="button">Hodl score</button>
        <button type="button">Ethereum Only</button>
        <button type="button">More</button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-1">
        <h3>Not-so-secret sauce</h3>
      </div>
      <div class="column is-9">
        <button type="button">Userfeeds Relevance Platform</button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-1">
        <h3>Storage</h3>
      </div>
      <div class="column is-9">
        <button type="button">Ethereum</button>
        <button type="button">Rinkeby / Ropsten / Kovan</button>
        <button type="button">Our Server</button>
      </div>
    </div>
  </div>
</section>
